body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header-home {
    background-image: url(/images/banner.jpg);
    background-color: rgba(0, 0, 0, .45);
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
}



.hearder-web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1450px;
    margin: auto
}

.phone-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-phone p,
.contact-email p {
    margin-right: 30px;
    color: white;
}

.contact-phone p:hover,
.contact-email p:hover,
.menu a:hover {
    color: #1ba0e2;
}

.menu a.active {
    color: #1ba0e2;
    border-bottom: 2px solid #22ff31;
}
.menu a.active:hover {
    color: #27fa2e;
}

.menu-n {
    background-color: rgba(0, 0, 0, .2);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.menu {
    max-width: 1000px;
    margin: auto;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 10px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    padding-right: 25px;
}

.photo-address {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo {
    width: 32%;
    text-align: center;
}
.photo:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.photo2:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.photo3:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.photo4:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.container-address {
    max-width: 1300px;
    margin: auto;
    padding: 80px 0;

}

.photo p {
    font-weight: 700;
    font-size: 18px;
}

.where {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.where hr {
    width: 300px;
}

.where span {
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}



.banner-address {
    background-image: url(/images/banner-new.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

}

.banner-text {
    max-width: 1200px;
    margin: auto;
    padding: 200px 0px;
}

.banner-text h1,
.banner-text a {
    color: white;
    text-decoration: none;
}

.banner-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.banner-text p {
    font-size: 20px;
    color: white;
}

.banner-text p a:hover {
    color: #1ba0e2;
}

.photo img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 5%;
}

.content-travel h2 {

    font-weight: 700;
    text-align: center;
}

.col-md-3 img {
    object-fit: cover;
    aspect-ratio: 4/2;
}

.col-md-3 del {
    color: #ccc;
}

.icon-travel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-travel i {
    padding: 0 10px;
    color: #1ba0e2;
}

.icon-travel hr {

    width: 100px;
    z-index: 999999;
    height: 1px;
}

.footer {
    text-align: center;
    position: relative;
    z-index: 2;
}

.menu-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.footer img {
    padding-top: 20px;
}

.menu-footer li {
    list-style: none;
}

.menu-footer a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
}

.menu-footer a:hover {
    color: orange;

}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.contact-icon img {
    width: 40px;
    height: 50px;
    padding-right: 10px;
}

.footer-home {
    margin-top: 30px;
    background-image: url(/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.footer-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    /* Điều chỉnh màu sắc và độ mờ của overlay */
    z-index: 1;
    /* Đảm bảo rằng overlay nằm phía sau các phần tử khác trong footer */
}

.footer-content {
    text-align: center;
    background-color: rgb(39, 35, 35);

}

.footer-content p {
    padding: 20px 0;
    color: white;
}

.food-tilte {
    text-align: center;
}

.line-food {
    display: flex;
    justify-content: center;
    align-items: center;

}

.line-food hr {
    width: 100px;
    height: 1;

}

.row img {
    object-fit: cover;
    aspect-ratio: 4/3;
}

.row p {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width:280px) {

    .hearder-web,
    .phone-email,
    .photo-address {
        flex-wrap: wrap;
    }

    .contact-email p,
    .contact-phone p,
    .logo-header {
        text-align: center;
        margin-right: 15px;
    }

    .logo-header img {
        width: 50%;

    }

    .menu ul {
        padding: 0;
    }

        .menu li {
            list-style: none;
            padding: 9px 17px;
        }

    .menu a {
        padding: 0;
    }

    .banner-address {
        background-size: cover;
    }

    .banner-text {
        text-align: center;
        padding: 100px 0;

    }

    .banner-text h1 {
        font-size: 30px;
    }

    .where hr {
        width: 0;
    }

    .container-address {
        padding-top: 20px;

    }

    .photo {
        width: 100%;
    }

    .photo-address {
        padding: 0px 10px;
    }
    .menu-footer a{
        padding: 10px 8px;
    }
    .footer>img{
        width :     40%;
    }
        .menu-footer ul{
            padding: 0;
        }
}
@media screen and (min-width:768px) {
    .photo-address{
        flex-wrap: nowrap;
    }
    .photo{
        padding: 10px
    }
        .footer>img {
            width: 28%;
        }
        .hearder-web{
            padding-top: 10px;
        }
        .menu{
            width: 80%;
        }
}